<div class="container-perso">
  <div class="container">
    <h1>{{title}}</h1><br>
    <button type="submit" class="btn btn-primary btn-block" routerLink="">Voir les dossiers complets</button>
    <br><br>
    <button type="submit" class="btn btn-primary btn-block" routerLink="">Voir les dossiers en cours de complétion</button>
    <br><br>
    <button type="submit" class="btn btn-primary btn-block" routerLink="/update-profile">Modifier son profil</button>
    <br><br>
    <button type="submit" class="btn btn-primary btn-block" routerLink="/menu-admin/add-university">Ajouter une université</button>
    <br><br>
    <a href="#" *ngIf="sessionService.isLoggedIn()" class="btn btn-primary btn-block"
       style="background-color: #a94442; border-color: darkred"
       (click)="sessionService.logOut()">Se déconnecter</a>
  </div>
  <!--<td><img class="students" src="../../assets/students.jpg"></td>-->
</div>
