<div class="container-fluid">
  <table>
    <tbody>
    <tr>
      <td><div class="container-fluid">
          <h1>{{title}}</h1><br>
          <button type="submit" class="btn btn-primary" routerLink="/auth/menu-student/countries-list">Choisir son séjour d'études</button>
          <br><br>
          <button type="submit" class="btn btn-primary">Documents</button>
          <br><br>
          <button type="submit" class="btn btn-primary" routerLink="/update-profile">Modifier son profil</button>
      </div></td>
      <td><img class="students" src="../../assets/students.jpg"></td>
    </tr>
    </tbody>
   </table>
</div>
