<div class="container-perso">
<div class="container">
          <h1>{{title}}</h1><br>
          <button type="submit" class="btn btn-primary btn-block" routerLink="/menu-student/countries-list">Choisir son séjour d'études</button>
          <br><br>
          <button type="submit" class="btn btn-primary btn-block" routerLink="/menu-student/documents">Documents </button>
          <br><br>
          <button type="submit" class="btn btn-primary btn-block" routerLink="/update-profile">Modifier son profil</button>
      </div>
      <!--<td><img class="students" src="../../assets/students.jpg"></td>-->
</div>
