

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink=""> <img class="poly-logo" src="../../assets/Polytoc.png"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#expended" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="expended">
    <div class="navbar-nav">
      <a class="nav-item nav-link  active" routerLink="presentation">HOME<span class="sr-only">(current)</span></a>

      <a class="nav-item nav-link" routerLink="profile">Profil</a>
      <a class="nav-item nav-link" routerLink="studies">Studies</a>
      <a class="nav-item nav-link" routerLink="menu-admin">Admin</a>
    </div>
  </div>
</nav>
