.container-fluid{
  min-height: 100px;
  max-height: 101px;
  border: solid 3px  #19208f;
  text-align: center ;
  background-color: darkgrey;


}

.navbar{
  margin-bottom: 85px;
}
.poly-logo{
  float: left;
  size: auto;
}

.univ-logo{
  float: right;
  size: auto;
}

.h2{
  margin-top: 10px;
}

/*img {
  width: 230px;
  height: 100px;
}*/
