<div class="container-fluid">
  <div class="row-2  ">

    <p class="text-center">Liste de voeux</p>



  </div>




<hr>

<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th scope="col">Actions</th>
        <th scope="col">Université</th>
        <th scope="col">Pays</th>
        <th scope="col">Ville</th>
        <th scope="col">Contrat d'étude rempli</th>
        <th scope="col">Semestre</th>
      </tr>
      </thead>
      <tbody>
      <!--<tr *ngFor="let wish of wishService.wishList" >-->
        <!--<td scope="row"><div class="btn-group"><button class="btn-info" (click)="editWish()" >EDITER</button>-->
          <!--<button class="btn-danger" (click)="deleteWish(wish.id)" >SUPRIMER</button></div></td>-->
      <tr *ngFor="let wish of wishList">
        <td scope="row"><div class="btn-group"><button class="btn-info" (click)="editWish(wish.id)" routerLink="/agreement-host/{{wish.university.id}}" >EDITER</button>
          <button class="btn-danger" (click)="deleteWish(wish.id)" >SUPRIMER</button></div></td>
        <td>{{ wish.university.name }}</td>
        <td>{{ wish.university.country }}</td>
        <td>{{ wish.university.city }}</td>
        <td>{{ wish.agreementCompleted }}</td>
        <td>{{ wish.semester }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row text-center ">
    <div class="col-lg-6 col-sm-12 col-md-6 ">
      <a class="btn btn-primary" routerLink="/menu-student/countries-list">Ajouter une université</a>
    </div>
    <div class="col-sm-14 col-md-6">
      <a class="btn btn-dark" style="color: white">VALIDER ET ENVOYER</a>
    </div>
  </div>
</div>
