<h1 style="text-align: center">
  Liste de voeux
</h1>
<hr>

<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th scope="col">Actions</th>
        <th scope="col">Université</th>
        <th scope="col">Pays</th>
        <th scope="col">Ville</th>
        <th scope="col">Contrat d'étude rempli</th>
        <th scope="col">Semestre</th>
      </tr>
      </thead>
      <tbody>
      <!--<tr *ngFor="let wish of wishService.wishes" >-->
        <!--<td scope="row"><div class="btn-group"><button class="btn-info" (click)="editWish()" >EDITER</button>-->
          <!--<button class="btn-danger" (click)="deleteWish(wish.id)" >SUPRIMER</button></div></td>-->
      <tr *ngFor="let wish of wishService.wishes">
        <th scope="row"><div class="btn-group"><button class="btn-info" (click)="editInfo()" >EDITER</button>
          <button class="btn-danger" (click)="deleteInfo()" >SUPRIMER</button></div></th>
        <td>{{ wish.university }}</td>
        <td>{{ wish.country }}</td>
        <td>{{ wish.city }}</td>
        <td>{{ wish.full }}</td>
        <td>{{ wish.semester }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
