<div class="container-fluid">
  <div class="row-2  ">
    <p class="text-center">Documents à fournir</p>
  </div>



  <!--interface pour charger les documents géneraux-->


</div>

<div class="container-fluid padding text-center">
  <div class="row welcome text-center" style="width: 85%">
    <div class="col-10"></div>
    <hr>
    <div>
      <p style="font-weight: bold; font-size: large">
        Veuillez vous munir des documents suivants, vous serez amené à les télécharger sur la plateforme pour valider la constitution du dossier.
      </p>
      <p style="font-weight: bold; font-size: large">
        Vous pouvez toujours constituer votre liste de voeux et télécharger les documents plus tard.
      </p>
    </div>
    <hr>
  </div>
</div>

<div class="container-fluid padding text-center" style="margin-left: -20px">
  <br>
  <hr style="width: 30%; border-top: 2px solid #b4b4b4">
  <div>
    <p class="text-center" style="font-size: 20px; font-style: italic; font-weight: bold">
      Documents
    </p>
  </div>
  <hr style="width: 30%; border-top: 2px solid #b4b4b4">
  <p class="text-center" style="font-style: italic; font-size: 20px">
    Lettre de motivation
    <br>
    Curriculum vitæ
    <br>
    Relevés de notes
    <br>
    Budget prévisionnel
    <br>
    Certificat de langue en fonction de l'université choisie
  </p>
</div>

<br>
<div class="col text-center">
  <div id="submit">
    <button type="submit" class="btn btn-secondary"  routerLink="/menu-student/countries-list">Suivant</button>
  </div>
</div>

