

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <a class="navbar-brand" routerLink=""> <img class="poly-logo" src="../../assets/Polytoc.png"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ResponsiveExpand" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="ResponsiveExpand">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a *ngIf="isConnected else notConnected" class="nav-item nav-link  active" routerLink="menu-student">Menu Etudiant<span class="sr-only">(current)</span></a>
        <ng-template #notConnected>
          <a class="nav-item nav-link  active" routerLink="presentation">Accueil<span class="sr-only">(current)</span></a>
        </ng-template>
      </li>
      <li class="nav-item ">
        <a class="nav-item nav-link" routerLink="contact">Contact</a>
      </li>

      <li class="nav-item ">
        <a class="nav-item nav-link" routerLink="menu-admin">Admin</a>
      </li>

    </ul>
    </div>
</nav>


