@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}


.row-2{
  font-weight: 700;
  font-size: 35px;
  background-color: darkblue;
  color: white;
  margin-left: -30px;
  margin-right: -30px;
}


.card{
  width: 100%;
  border: 1px solid black;
  margin: 25px auto;
  padding: 1rem 15rem;
  font: 18px sans-serif;
  background-color: aliceblue;
}

.rounded {
  border-radius:.25rem!important
}
