<div class="titles">
  <h1>
    Etudiant
  </h1>
</div>
<div class="card">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
  <p> Nom : {{user.name}}</p>
  <p> Prenom : {{user.firstname}} </p>

        <p> Filiere : {{user.educationStream}} </p>

        <p> Numero Etudiant : {{user.studentNumber}} </p>

      </div>
      <div class="col-md">
        <p> Mail@ : {{user.mail}}</p>
        <p> Telephone : {{user.phone}}</p>
      </div>
    </div>
</div>
</div>




