.titles, .wish-list{
  text-align: center;
}

.container{
  background-size: cover;
  background: url("../../assets/mapamundi.png") no-repeat center center;
  text-align: center;
  border: 1px solid black;
  margin: 25px auto;
  padding: 20px 20px;
  font: 18px sans-serif;
}

.container div{
  display: inline-block;
  margin: auto 7%;
  vertical-align: middle;
}

.container p:hover {
  -webkit-transform:scale(1.4);transform:scale(1.4);
  text-shadow: 3px 3px 2px gray;
  cursor: pointer;
}
