<div class="titles">
  <h1>
    Séjours d'études
  </h1>
  <hr>
  <h4>
    Veuillez sélectionner le pays souhaité
  </h4>
</div>


  <div class="container">
    <div class="countries-America" routerLink="/university-available">
      <h3>AMERICA</h3>
      <hr>
      <p>Brésil</p>
      <p>Argentine</p>
      <p>USA</p>
      <p>Canada</p>
    </div>

    <div class="countries-Europe" routerLink="/university-available">
      <h3>EUROPE</h3>
      <hr>
      <p>Alemagne</p>
      <p>Espagne</p>
      <p>Italie</p>
      <p>Belgique</p>
      <p>Danemark</p>
      <p>Pologne</p>
      <p>Portugal</p>
      <p>Roumanie</p>
      <p>Royaume-Uni</p>

    </div>

    <div class="countries-Asia" routerLink="/university-available">
      <h3>ASIA</h3>
      <hr>
      <p>Corée</p>
      <p>Chine</p>
      <p>Thailand</p>
      <p>Vietnam</p>
      <p>Taiwan</p>
    </div>

    <div class="countries-Africa" routerLink="/university-available">
      <h3>AFRICA</h3>
      <hr>
      <p>Cameroun</p>
      <p>Maroc</p>
      <p>Togo</p>
    </div>

  </div>

  <div class="wish-list">
    <button type="submit" class="btn btn-secondary" routerLink="/auth/menu-student/wish-list">Liste de voeux</button>
  </div>




