<div class="container-fluid">
  <div class="jumbotron">
    <div class="overlay">
    <p class="">
      Nous  exigeons de nos élèves qu’ils aient tous "une expérience significative à l’étranger" durant leur cursus. Cette exigence est obligatoire pour prétendre à l'obtention du diplôme d'ingénieur.

      Nous offrons la possibilité de valider l'expérience à l'international en effectuant des séjours d’études à l’étranger dans le cadre d’un échange académique (un ou deux semestres dans une université partenaire) ou lors d'un stage en entreprise, de préférence dans le domaine d'études de l'élève ingénieur.
    </p>
    </div>
  </div>

  <a routerLink="auth">
    <button class="btn btn-info"> Se connecter </button></a>
</div>
