html,body{
  font-family: 'Poppins', sans-serif;
}


.lead{
  text-align: center;
}


.table{
  border: solid deepskyblue 2px;
}
.td:hover {
  -webkit-transform:scale(1.4);transform:scale(1.4);
  text-shadow: 3px 3px 2px gray;
  cursor: pointer;
}

.titre-recherche{
  background-color: lightgray;
}

.container-fluid-filtre{
  background-color: #b4cdc8;
}

.row-1{
  background-color: darkblue;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.row-2{
  font-weight: 700;
  font-size: 35px;
  background-color: darkblue;
  color: white;
  margin-left: -30px;
  margin-right: -30px;
}

.btn-secondary{
  background-color: darkblue;
}
