<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-6">-->
      <!--<div class="card">-->
        <!--<div class="card-content">-->
          <!--<form #universityForm="ngForm" (ngSubmit)="onSubmit()">-->
            <!--<div class="row">-->
              <!--<div class="input-group">-->
                <!--<input type="text" name="name" [(ngModel)]="universityService.selectedUniversity.name" placeholder="Saisir le name">-->
              <!--</div>-->
              <!--<div class="input-field col-s12">-->
                <!--<input type="text" name="country" #name="ngModel" [(ngModel)]="universityService.selectedUniversity.country" placeholder="Saisir le country">-->
              <!--</div>-->
              <!--<div class="input-field col-s12">-->
                <!--<input type="text" name="city" #name="ngModel" [(ngModel)]="universityService.selectedUniversity.city" placeholder="Saisir la city">-->
              <!--</div>-->
              <!--<div class="input-field col-s12">-->
                <!--<input type="text" name="accord" #name="ngModel" [(ngModel)]="universityService.selectedUniversity.accord" placeholder="Saisir le type d'accord">-->
              <!--</div>-->
              <!--<div class="input-field col-s12">-->
                <!--<input type="text" name="department" #name="ngModel" [(ngModel)]="universityService.selectedUniversity.majors" placeholder="Saisir les majors">-->
              <!--</div>-->
              <!--<div class="card-action">-->
                <!--<div class="input-field col-s12">-->
                  <!--<button class="btn btn-primary" style="margin-left: 2px;" (click)="addUniversity(universityForm)">Save</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
