
<div class="row-2  ">

  <p class="text-center">Contrat d'études</p>

</div>
<div class="container-fluid padding">
  <br>
  <hr style="width: 30%; border-top: 2px solid #b4b4b4">
  <div >
    <p class="text-center" style="font-size: 20px; font-style: italic">
      Informations Personnelles
    </p>
  </div>
  <hr style="width: 30%; border-top: 2px solid #b4b4b4">

</div>


<div class="container-fluid">


  <div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6 offset-3">
      <div class="card">
        <p>Nom : </p>
        <p>Prénom :</p>
        <p>Date de naissance :</p>
        <p>Adresse mail :</p>
        <p>Adresse :</p>
        <p>Numéro de téléphone :</p>
        <div class="col text-center">
          <button class="btn btn-info" style="width: 30%" routerLink="/update-profile"> Modifier </button>

        </div>

        <br>
      </div>
    </div>
  </div>
</div>

<br>


<div class="container-fluid padding">
  <br>
  <hr style="width: 30%; border-top: 2px solid #b4b4b4">
  <div >
    <p class="text-center" style="font-size: 20px; font-style: italic">
      Université d'acceuil
    </p>
  </div>
  <hr style="width: 30%; border-top: 2px solid #b4b4b4">

</div>

<div class="container-fluid">


  <div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6 offset-3">
<div class="card">
  <p> Nom de l'établissement:     {{university.name}}
  </p>
  <p> Ville:  {{university.city}}</p>
  <p> Pays:  {{university.country}}</p>
  <p> Accord:  {{university.agreements}}</p>
  <form [formGroup]="agreementForm">
    <div class="form-group">
      <label for="semestre">Période d'étude prévue:</label>
      <select class="form-control" formControlName="semester" id="semestre" required>
        <option *ngFor="let value of semester" [value]="value">{{value}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sel2">Diplôme de l’UNS qui sera préparé pendant l’année d’échange:</label>
      <select class="form-control" id="sel2">
        <option>Ingenieur en science informatique </option>
        <option>Le reste</option>
      </select>
    </div>
  </form>

</div>
</div>
</div>
</div>



<div class="container-fluid padding">
  <br>
  <hr style="width: 30%; border-top: 2px solid #b4b4b4">
  <div >
    <p class="text-center" style="font-size: 20px; font-style: italic">
      Programme d’études pendant le séjour à l’étranger
    </p>
  </div>
  <hr style="width: 30%; border-top: 2px solid #b4b4b4">
  <br>

</div>


<div class="container-fluid">


  <div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6 offset-3">
<table class="table  table-bordered" style="background-color: aliceblue">
  <thead>
  <tr>
    <th>Titre du cours</th>
    <th>Code du cours</th>
    <th>Nombre de crédits</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let field of fieldArray; let i = index">
    <td>
      <input [(ngModel)]="field.code" class="form-control" type="text" name="{{field.code}}" />
    </td>
    <td>
      <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
    </td>
    <td>
      <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" />
    </td>
    <td>
      <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Supprimer le cours</button>
    </td>
  </tr>
  <tr>
    <td>
      <input class="form-control" type="text" id="newAttributeTitle" [(ngModel)]="newAttribute.code" name="newAttributeTitle" />
    </td>
    <td>
      <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.name" name="newAttributeCode" />
    </td>
    <td>
      <input class="form-control" type="text" id="newAttributeCredits" [(ngModel)]="newAttribute.price" name="newAttributeCredits" />
    </td>
    <td>
      <button class="btn btn-default" type="button" (click)="addFieldValue()">Ajouter le cours</button>
    </td>
  </tr>
  </tbody>
</table>
    </div>
    </div>
    </div>

<div class="container-fluid padding">
  <br>
  <hr style="width: 30%; border-top: 2px solid #b4b4b4">
  <div >
    <p class="text-center" style="font-size: 20px; font-style: italic">
      Documents à joindre
    </p>
  </div>
  <hr style="width: 30%; border-top: 2px solid #b4b4b4">

</div>

<div class="container-fluid">



  <div class="col-sm-6 col-md-6 col-lg-6 offset-3">
    <div class="card">
      <P>Lettre de motivation </P>
      <input type="file"  class="form-control-file border">
      <br>
      <P>Budget prévisionnel</P>
      <input type="file"  class="form-control-file border">
      <br>
      <P>Certificat de langue</P>
      <input type="file"  class="form-control-file border">

      <br>



    </div>

    <div class="col text-center">
      <div id="submit">
        <button type="submit" class="btn btn-secondary" (click)="addWish()" routerLink="/menu-student/wish-list">Ajouter à la liste de voeux</button>
      </div>

    </div>

  </div>
</div>




