<!--<img id="rightPic" src="../../assets/paysage1.jpg" width="500" >-->
<body class="img-wallpaper wallpaper-animation is-wallpaper-visible" style="background-image: url('../../assets/wallpaper3.jpg')">
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <form [formGroup]="profilForm" (ngSubmit)="onSubmit()">
        <header class="card-header">
          <a routerLink="/connexion" class="float-right btn btn-outline-primary mt-1">Deja inscrit?</a>
          <h4 class="card-title mt-2">Inscription</h4>
        </header>

        <article class="card-body">
          <div class="row">
            <div class="col">

              <div class="form-group">
                <label>
                  e-mail:
                </label>
                <input type="text" class="form-control" formControlName="mail" placeholder="e-mail">
              </div>

              <div class="form-group">
                <label>
                  Mot de passe:
                </label>
                <input type="password" class="form-control" formControlName="password" placeholder="mot de passe">
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>
                      Nom:
                    </label>
                    <input type="text" class="form-control" formControlName="name" placeholder="nom">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>
                      Prénom:
                    </label>
                    <input type="text" class="form-control" formControlName="firstname" placeholder="prenom">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>
                  Date de naissance</label>
                <input type="text" formControlName="birthday" class="form-control" placeholder="date de naissance">
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="sexe">Sexe</label>
                    <select class="form-control" formControlName="gender" id="sexe" required>
                      <option *ngFor="let sex of gender" [value]="sex">{{sex}}</option>
                    </select>
                  </div>
                </div>

                <div class="col">
                  <label>
                    <div class="form-group">
                      <label for="filiere">Filière</label>
                      <select class="form-control" formControlName="educationStream" id="filiere" required>
                        <option *ngFor="let fil of educationStream" [value]="fil">{{fil}}</option>
                      </select>
                    </div>
                  </label>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label>
                  Nationalité
                </label>
                <input type="text" class="form-control" formControlName="nationality" placeholder="nationalité">
              </div>
              <div class="form-group">
                <label>
                  Adresse
                </label>
                <div class="row">
                  <div class="col-sm-12">
                    <input class="form-control" type="text" formControlName="address" placeholder="adresse" >
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input class="form-control" type="text" formControlName="city" placeholder="ville">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <input class="form-control" type="text" formControlName="zip" placeholder="code postal">
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>
                  Numéro de téléphone
                </label>
                <input class="form-control" type="text" formControlName="phone" placeholder="num. telephone">
              </div>

              <div class="form-group">
                <label>
                  Numéro d'étudiant
                </label>
                <input class="form-control" type="text" formControlName="studentNumber" placeholder="num. étudiant">
              </div>

            </div>

          </div>
          <div id="submit">
            <button type="submit" class="btn btn-primary btn-block" (click)="onSubmitForm()" routerLink="/connexion"
                    [disabled]="!profilForm.valid">S'inscrire
            </button>
          </div>
        </article>

      </form>
    </div>
  </div>
</div>

</body>


