<!--<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 offset-md-1 ">
  <form [formGroup]="studiesForm">
    <div class="form-row ">
      <div class="form-group col-md-6 ">
        <label for="school"> Ecole </label>
        <input type="text"  id="school" formControlName="school"  >
      </div>
      <div class="form-group col-md-4">
        <label for="locality">Région</label>
        <select id="locality" formControlName="locality" >
          <option selected>FRANCE</option>
          <option>DOM-TOM</option>
          <option>Autre</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="grade"> Niveau d'études </label>
        <select id="grade" formControlName="grade">
          <option selected>BAC</option>
          <option>BAC +1</option>
          <option>BAC +2</option>
          <option>BAC +3</option>
          <option>BAC +4</option>
          <option>BAC +5</option>

        </select>
      </div>


        <div class="form-group">
          <label for="year">Annéee</label>
          <select class="form-control" formControlName="year" id="year" required>
          </select>
        </div>

    </div>
    <div class="form-group">
      <label for="mean">Moyenne</label>
      <input type="number"  id="mean" formControlName="mean" min="0" max="20">
    </div>




    <button type="submit" class="btn btn-dark">Ajouter etudes</button>
  </form>
    </div>
    &lt;!&ndash;<div class="col-md-3 ">
      <div class="container-fluid">
        <h2>Table</h2>
        <p>The .table-responsive class creates a responsive table which will scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, there is no difference:</p>
        <div class="table-hover">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Age</th>
              <th>City</th>
              <th>Country</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Anna</td>
              <td>Pitt</td>
              <td>35</td>
              <td>New York</td>
              <td>USA</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>



    </div>&ndash;&gt;
  </div>

</div> MOI -->










<body class="img-wallpaper wallpaper-animation is-wallpaper-visible" style="background-image: url('../../assets/wallpaper3.jpg')">
<div class="row ">
  <div class="col-md-6">
    <div class="card">
      <form >
        <header class="card-header">

          <h4 class="card-title mt-2">Parcours universitaire</h4>
        </header>

        <article class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>
                  Etablissement
                </label>
                <input type="text" class="form-control" formControlName="school" placeholder="Nom de l'ecole">
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>
                      Pays
                    </label>
                    <input type="text" class="form-control" formControlName="country" placeholder="Pays">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>
                      Niveau
                    </label>
                    <input type="text" class="form-control" formControlName="grade" value="BAC+" placeholder="Années après BAC" >
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>
                  Année</label>
                <input type="number" max="2019" min="2005" formControlName="year" class="form-control" placeholder="Année">
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="mean">Moyenne /20 </label>
                    <input type="number" min="0" max="20" class="form-control" formControlName="mean" id="mean" required>
                  </div>
                </div>

                <div class="col">
                  <label>
                    <div class="form-group">
                      <label for="spec">filiere</label>
                      <input type="text" placeholder="Maths/SVT/Physique ou autre" class="form-control" formControlName="spec" id="spec" required>


                    </div>
                  </label>
                </div>

              </div>

            </div>






    </div>
          <div id="submit">
            <button type="submit" class="btn btn-primary btn-block" >
                    Ajouter
            </button>
          </div>

        </article>


      </form>
    </div>
  </div>
</div>
<!--<p>
  Form Status: {{ profilForm.status }}
  <br>
  {{profilForm.getRawValue() | json}}
  <br>
  izi:
  <br>
  {{profilList | json}}

  <br>

  service:
  {{this.studentService.getUser() | json}}
</p>-->

</body>
