<div class="row-2  ">
  <p class="text-center">Bureau des relations internationales</p>
</div>

<div class="container-perso">
  <div class="container">
    <button type="submit" class="btn btn-primary btn-block" routerLink="/accepted">Voir les dossiers complets</button>
    <br><br>
    <button type="submit" class="btn btn-primary btn-block" routerLink="/menu-student/countries-list">Liste des universités</button>
    <br><br>

    <a href="#" *ngIf="sessionService.isLoggedIn()" class="btn btn-primary btn-block"
       style="background-color: #a94442; border-color: darkred"
       (click)="sessionService.logOut()">Se déconnecter</a>
  </div>
</div>
