<div class="container-fluid">
  <div class="row-2  ">
    <p class="text-center">Mon profil</p>
  </div>

  <!--informations de l'étudiant-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 offset-3">
        <div class="card">
          <p>Nom : {{user.name}}</p>
          <p>Prénom : {{user.firstname}}</p>
          <p>Date de naissance : {{user.birthday}} </p>
          <p>Adresse mail : {{user.mail}} </p>
          <p>Sexe : {{user.gender}} </p>
          <p>Nationalité : {{user.nationality}} </p>
          <p>Adresse : {{user.address}} </p>
          <p>Ville : {{user.city}} </p>
          <p>Code postal : {{user.zip}}</p>
          <p>Numéro étudiant : {{user.studentNumber}} </p>
          <p>Filière : {{user.educationStream}} </p>
          <div class="col text-center">
            <button class="btn btn-info" style="width: 30%" routerLink="/update-profile"> Modifier</button>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <a href="#" *ngIf="user" class="btn btn-secondary" (click)="logout()"> Log-out</a>
    <br><br>
  </div>
</div>
