<div class="titles">
  <h1>
    Séjours d'études
  </h1>
  <hr>
  <h4>
    {{university.name}}
  </h4>
</div>
<div class="card">
  <p> Ville:  {{university.city}}</p>
  <p> Accord:  {{university.accord}}</p>
  <p> Nombre d'étudiant ayant fréquenté cet établissement:  {{university.exchangeStudents}}</p>
  <p> Satisfaction des anciens étudiants:  {{university.note}}</p>
</div>

<div class="wish-list">
  <button type="submit" class="btn btn-secondary" routerLink="/auth/menu-student/wish-list">Sélectionner cette université</button>
</div>

