<div class="row-2  ">

  <p class="text-center">{{university.name}}</p>





</div>

<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="{{university.image}}">

  </div>
</div>


<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">

    </div>
    <hr>
    <div >
      <p class="lead" style="font-weight: bold">
        {{university.description}}
      </p>
    </div>
    <hr>
  </div>
</div>

<div class="row">

  <div class="container rounded" style="width:1500px">

    <div class="card-body">
      <p style="font-size: 25px; font-weight: bold; color: white;"   >  Ville :  {{university.city}}</p>
      <p style="font-size: 25px; font-weight: bold; color: white;"> Accord :  {{university.agreements}}</p>
      <p style="font-size: 25px; font-weight: bold; color: white;"> Filières :  {{university.majors}}</p>
      <p style="font-size: 25px; font-weight: bold; color: white;"> Site internet :  {{university.website}}</p>
      <p style="font-size: 25px; font-weight: bold; color: white;"> Nombre d'étudiant ayant fréquenté cet établissement :  {{university.exchangeStudents}}</p>
      <p style="font-size: 25px; font-weight: bold; color: white;"> Satisfaction des anciens étudiants :  {{university.note}}</p>

    </div>
  </div>

</div>

<div class="wish-list">
  <button type="submit" class="btn btn-secondary" routerLink="/agreement-host/{{university.id}}">Choisir cet établissement</button>
</div>

