
<form [formGroup]="profilForm" (ngSubmit)="onSubmit()">

  <label>
    e-mail:
    <input type="text" formControlName="mail">
  </label>

  <label>
    mot de passe:
    <input type="text" formControlName="mdp">
  </label>
  <label>
    nom
    <input type="text" formControlName="nom">
  </label>
  <label>
    prenom:
    <input type="text" formControlName="prenom">
  </label>
  <label>
    date de naissance
    <input type="text" formControlName="birthday">
  </label>
  <label>
    sexe
    <input type="text" formControlName="sexe">
  </label>
  <label>
    nationalite
    <input type="text" formControlName="nationalite">
  </label>
  <label>
    adresse
    <input type="text" formControlName="adresse">
  </label>
  <label>
    ville
    <input type="text" formControlName="ville">
  </label>
  <label>
    code postal
    <input type="text" formControlName="codePostal">
  </label>
  <label>
    tel
    <input type="text" formControlName="tel">
  </label>
  <label>
    numero etudiant
    <input type="text" formControlName="numetudiant">
  </label>
  <label>
    filiere
    <input type="text" formControlName="filiere">
  </label>

</form>

<button type="submit" class="btn btn-success" [disabled]="!profilForm.valid">Submit</button>

<p>
  Form Status: {{ profilForm.status }}
  <br>
  {{profilForm.getRawValue() | json}}
</p>

