input {
   width: 200px;
   padding: 12px 20px;

   margin: 8px 0;
   box-sizing: border-box;
  border: 1px solid #c8c8c8;


 }

/*#rightPic{
  position: absolute;
  right: 0;
  top: 150px;
  bottom: 0;
  height: 900px;
}*/
image{
  width: 100px;
}


.form-group {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  margin-bottom: 1px;
  box-sizing: border-box;
  font-family: 'Helvetica Neue',Helvetica,HiraKakuProN-W3,sans-serif;

}
label{}

#rightForm{
  display: block;
  width: 400px;
  float: right;
  text-align: left;
  font-family: 'Helvetica Neue',Helvetica,HiraKakuProN-W3,sans-serif;
}
#leftForm{

  width: 400px;
  float: left;
  text-align: left;
  margin-left: 50px;

}

#submit{
  position: absolute;
  top: 800px;
  right: 400px;
  float: right;
  width: 800px;
}


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
